@import '@frachtwerk/essencium-lib/src/globals.css';

@theme {
  --animate-fade-in: fade-in 3s forwards 1s;

  --animate-fade-in-delay: fade-in 2s forwards 3s;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
