@layer theme, base, mantine, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/* Mantine theme for tailwindcss - import at root level since it contains @custom-variant */
@import '@frachtwerk/essencium-lib/dist/theme.css';

@import '@mantine/core/styles.layer.css';

/* CSS classes used in essencium-lib */
@import '@frachtwerk/essencium-lib/dist/globals.css';

/* Custom theme for the app */
@theme {
  --animate-fade-in: fade-in 3s forwards 1s;

  --animate-fade-in-delay: fade-in 2s forwards 3s;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
