.routeProtector {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.routeProtector__title {
  text-align: center;
}

.routeProtector__backButton {
  margin-top: var(--mantine-spacing-lg);
  widht: 200px;
}
