.setPassword__container {
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
  width: 450px;
  height: 450px;
}

.setPassword__paper {
  padding: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  width: 400px;
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-sm);
}
