.setPassword__container {
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
}

.setPassword__paper {
  padding: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  width: 400px;
  height: 270px;
  border-radius: var(--mantine-radius-sm);
}
