/* USER VIEW */
.userView__invalidateTokenGroup {
  padding: 0.7rem 0 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-gray-9);
    }
  }
}

.userView__actionsCellIcon--disabled {
  &:disabled,
  &[data-disabled] {
    background-color: transparent;
  }
}

.userView__logoutIcon {
  margin-right: var(--mantine-spacing-xs);
  color: var(--mantine-color-gray-7);

  @mixin dark {
    color: var(--mantine-color-gray-3);
  }
}

.userView__nameCol--badge {
  margin-left: 5px;
}

.userView__rolesCol--badge {
  margin-right: var(--mantine-spacing-xs);
}

.userView__header {
  padding: var(--mantine-spacing-md) 0;
}

.userView__showFilterSwitch {
  margin-left: auto;
}

.userView__buttonsSection {
  margin-left: var(--mantine-spacing-xl);
}

/* USER DETAIL */

.userDetailTitle {
  padding: var(--mantine-spacing-md) 0;
}

.userDetailTitle__subtitle {
  margin-left: var(--mantine-spacing-xs);
}

.userDetailCard {
  padding: var(--mantine-spacing-lg);
  max-width: 81.25rem;

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}
