.translation-change-form__input {
  font-size: 1rem;
  border-bottom: 1px solid var(--mantine-color-gray-4);
  border-radius: 0;
}

.translation-change-form__input:disabled {
  font-size: 1rem;
  color: var(--mantine-color-gray-7);
  background-color: transparent;
  border: none;
}
